* {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.root-container {
    text-align: center;
}
.recipe-list {
    list-style-type: none;
}
.recipe-image {
    width: 11rem;
    height: auto;
}