* {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* h1, p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
.heading {
    text-align: center;
}
.root-container {
    text-align: center;
    margin-left: 28%;
    margin-right: 25%;
}
.recipe-image {
    width: 12rem;
    height: 11rem;
}
.recipe-menu-item {
    float:left;
    margin: 2%;
}